streamlit
pandas
pypdf
reportlab
python-docx
easyocr
numpy
pdf2image
Pillow
google-api-python-client
google-auth
google-auth-oauthlib
openpyxl
requests
pytesseract==0.3.10
pdf2image==1.17.0
Pillow==10.4.0
